.advert-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}

.advert-image {
  width: 290px;
  height: 310px;
  border: 1px solid #ddd;
  border-radius: 8px;

}

.advert-info {
  text-align: start;
  width: 100%;
}
.advert-card-name-prise{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advert-card-name-prise p{
  margin: 0;
}
.advert-card-reviews{
  display: flex;
  align-items: center;
  gap: 16px;
}
.favorite-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.favorite-button.favorite {
  color: red;
}

.show-more-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin: auto;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tabs button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background: #f5f5f5;
}

.tabs button.active {
  background: #ddd;
  border-bottom: 2px solid #000;
}

.tab-content {
  padding: 20px;
}